ion-toolbar{
    background-color: var(--ion-color-my-color);
    color: white;
}

.container{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

.btn{
    margin-top: 70%;
}