<ion-header>
  <ion-toolbar color="my-color">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>

      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="content"> content1</div>       
      </ion-col>

      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="content"> content2</div> 
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col sizeLg="4" sizeMd="4" sizeXs="9">
        <div class="content"> content3</div> 
      </ion-col>
      
      <ion-col sizeLg="4" sizeMd="4" sizeXs="3">
        <div class="content"> content4</div> 
      </ion-col>

    </ion-row>

  </ion-grid>
 
</ion-content>
